.myteams{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    position: relative;
}
.myTeams-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}

.teams--bodyContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:1rem;
    width: 100%;
}

.teams--box{
    background: #FAFAFA;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}
.teams--box:hover{
    transform:scale(1.1);
}
.teams--bodyContainer img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 992px) {
    .teams--bodyContainer,.teams--box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}